:root {
    --one: #000;
    --two: #131b4f;
    --bg-color: #f5f5f5;
    --third: #003049;
    --four: #669BBC;
}

body.dark-mode {
    --one: #e5e5e5;
    --two: #101bb3;
    --bg-color: #000;
    --third: #14213d;
    --four: #ffffff;
}

body {
    font-family: 'Fira Sans', serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    transition: background-color 0.5s ease-in-out;
}

body.light-mode {
    background-color: var(--bg-color);
    color: var(--one);
}

body.dark-mode {
    background-color: var(--bg-color);
    color: var(--one);
}

/* Header */

header {
    background-color: transparent;
    color: var(--one);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 2px solid var(--one);
    padding: 10px 20px;
}

.logo {
    font-size: 1.2em;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: var(--one);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links a:hover {
    border-radius: 10px;
    background-color: var(--third);
    color: #fff;
} 

.cta-buttons {
    display: flex;
    gap: 10px;
}

.options-dropdown {
    position: relative;
    display: inline-block;
}

.options-btn {
    padding: 8px 16px;
    border: 2px solid var(--one);
    color: var(--one);
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.options-btn:hover {
    background-color: var(--third);
    color: #fff;
}

.options {
    position: absolute; 
    z-index: 1000; 
    background-color: var(--bg-color);
    color: var(--one);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 80px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    padding: 0 10px;
}

.options a {
    display: block;
    width: 60%;
    padding: 10px 10px;
    color: var(--one);
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.options a:hover {
    background-color: var(--third);
    color: #fff;
}

.options-dropdown.open .options {
    max-height: 200px; 
    padding: 10px 10px;
}

.options-dropdown.open .options a {
    padding: 10px 15px;
}

.options-dropdown.open .options a {
    font-size: 1rem;
    padding: 12px;
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

#theme-toggle:hover {
    transform: scale(1.2);
}

.hamburger-menu {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Responsive Menu */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        position: relative;
    }

    .logo {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .hamburger-menu {
        display: block;
        font-size: 1.8rem;
        color: var(--one);
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1000;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--bg-color);
        border-top: 2px solid var(--one);
        border-bottom: 2px solid var(--one);
        padding: 10px 0;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.show {
        display: flex;
        transform: translateY(0);
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 1.2rem;
        padding: 10px 20px;
        display: block;
    }

    .cta-buttons {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .options-dropdown {
        width: 100%;
    }

    .options {
        width: 100%;
        text-align: center;
        background-color: var(--bg-color);
    }

    .options a {
        color: var(--one);
        border: 2px solid var(--one);
        width: 90%;
        text-align: center;
    }

    .options a:hover {
        background-color: var(--third);
        color: #fff;
    }

    #theme-toggle {
        font-size: 1.5rem;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Scroll text section */

.scroll-text-container {
    max-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
}

.scroll-text {
    font-size: 3.0rem;
    font-weight: bold;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    color: var(--one);
}

.scroll-text-secondary {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.scroll-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-text span.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: transparent;
    color: var(--third); 
}

.hero-header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 350px;
    height: 300px;
    border-radius: 50px;
    border: 2px solid var(--one);
    margin-bottom: 20px;
}

.profile-pic:hover {
    transform: scale(1.03);
    transition: all 0.3s ease;
    border-radius: 50%; 
}

.name-highlight {
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    color: var(--bg-color);
    background: linear-gradient(to right, var(--third), var(--two), var(--one));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h3 {
    font-size: 1.5em;
    margin: 20px 0;
    color: var(--four);
}

.typing-effect {
    color: var(--four);
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 4em; 
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--one);
    }
}

.contact-button {
    background-color: transparent;
    color: var(--one);
    border: 1px solid var(--one);
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
    border: 1px solid var(--third);
    background-color: var(--third);
    color: #fff;
}

/* Body */

.divider {
    border: none;
    height: 2px;
    background-color: var(--one);
    margin: 40px 0;
}

.case-study {
    font-size: 2.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}

.case-study-section {
    padding: 15px;
}

.case-study-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.case-study-content {
    max-width: 50%;
}

.case-study-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.case-study-content p {
    font-size: 1em;
    line-height: 1.6;
}

.view-box {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid var(--one);
    text-decoration: none;
    color: var(--one);
    font-weight: bold;
    border-radius: 5px;
}

.view-box:hover {
    border: 1px solid var(--two);
    background-color: var(--third);
    color: #fff;
}

.case-study-image img {
    width: 450px;
    height: auto;
    border: 2px solid var(--one);
}

.case-study-image img:hover {
    transform: scale(1.03);
    transition: all 0.3s ease;
    border-radius: 50px;
    border: 1px solid var(--two);
    color: var(--bg-color);
}

.case-study-footer {
    text-align: left;
}

.case-study-indicator {
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 10px;
}

/* Experience */
.experience {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 15px;
}

.text-container {
    width: 30%;
    background-color: var(--bg-color);
    border: 2px solid var(--one);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.text-container div {
    font-size: 1.2em;
    color: var(--one);
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid var(--one);
}

.text-container div:hover,
.text-container .active {
    color: #fff;
    border: 2px solid var(--one);
    font-weight: bold;
    background-color: var(--third);
}

.descriptions-container {
    width: 62%;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--bg-color);
    border: 2px solid var(--one);
}

.description-item {
    position: absolute;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: center;
    max-height: 400px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.description-item.active {
    opacity: 1;
    transform: translateX(0);
}

.description-item p {
    font-size: 1.8em;
    color: var(--one);
    text-align: center;
    padding: 20px;
    margin: 0;
    height: auto;
    box-sizing: border-box;
    overflow: visible; 
}

@media (min-width: 768px) {
    .experience {
        flex-direction: row; 
    }

    .text-container {
        flex-direction: column; 
        width: 30%;
    }

    .descriptions-container {
        width: 60%;
    }

    .description-item p {
        font-size: 1.6em; 
    }
}

/* Projects */
.title {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(to right, var(--third), var(--two), var(--one));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
    position: relative; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    border-bottom: .4px solid #353535;
    justify-content: space-between;
    padding: 1.5rem;
    display: flex
;
}

.project.active {
    opacity: 1;
    transform: translateY(0); 
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--one);
    margin-bottom: 10px;
}

.project-content {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--one);
    border-radius: 10px;
    overflow: hidden;
    position: relative; 
}

.project-content img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
}

.project-arrow {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-decoration: none;
    color: var(--one);
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--bg-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.project-arrow:hover {
    transform: scale(1.1);
    background-color: var(--third);
    color: #fff;
}

/* Skill section */

.skills-section {
    text-align: center;
    padding: 10px 10px;
    margin-top: 5px;
}

.skills-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.skills-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.skills-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 15px;
    column-gap: 5px;
    justify-content: center;
    justify-items: center;
}

.skill-card {
    background: transparent;
    height: 120px;
    width: 120px;
    border: 1px solid var(--one);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    background-color: transparent;
    border: 1px solid var(--third);
    color: var(--bg-color);
}

.skill-card img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

body.dark-mode .skill-card img {
    filter: invert(1);
}

.skill-card p {
    font-size: 1rem;
    font-weight: bold;
    color: var(--one);
}

@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skills-container {
        grid-template-columns: 1fr; 
    }
}

/* Footer */
footer {
    padding: 40px;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex: 1;
    max-width: 300px;
}

.contact-item img {
    width: 40px;
    height: 40px;
}

body.dark-mode .contact-item img {
    filter: invert(1);
}

.contact-info {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--one);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.contact-info:hover {
    color: var(--two);
}

.contact-label {
    font-size: 1rem;
    font-weight: normal;
    color: var(--third);
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--third);
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.notification.show {
    opacity: 1;
    visibility: visible;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        gap: 30px;
    }
}

.social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-links a{
    color: var(--one);
}

.social-links a:hover{
    color: var(--bg-color);
}

.social-links a {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid var(--one);
    transition: background-color 0.3s, color 0.3s;
}

.social-links a.instagram:hover {
    --bg-color: var(--bg-color);
}

.social-links a.facebook:hover {
    --bg-color: var(--bg-color);
}

.social-links a.beta:hover {
    --bg-color: var(--bg-color);
}

@media (min-width: 375px) and (max-width: 430px) {
    body {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    header {
        padding: 15px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    nav {
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }

    nav a {
        font-size: 1.1em;
        margin-right: 15px;
        display: inline-block;
    }

    .scroll-text {
        font-size: 2.2rem;
        padding: 15px;
        text-align: center;
    }

    .hero h1 {
        font-size: 3rem;
        margin-bottom: 15px;
    }

    .about-me-image img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 15px auto;
        display: block;
    }

    .divider {
        margin: 20px 0;
    }

    .case-study-content {
        max-width: 100%;
        text-align: justify;
        margin-bottom: 15px;
    }

    .case-study-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }

    .case-study-content {
        width: 100%;
        max-width: 400px;
        padding: 0 15px;
    }

    .case-study-image {
        margin: 15px 0;
        text-align: center;
    }

    .case-study-image img {
        max-width: 300px;
        height: 200px;
        display: block;
        border-radius: 10%;
    }

    .view-box {
        display: inline-block;
        font-size: 1em;
        padding: 10px 15px;
        margin-top: 15px;
        background-color: var(--bg-color);
        color: var(--third);
        border-radius: 5px;
        text-decoration: none;
    }

    footer {
        padding: 20px;
        font-size: 1em;
    }

    .contact h2, .contact .email {
        font-size: 2rem;
        text-align: center;
    }

    .social-links {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .social-links a {
        font-size: 1.3rem;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1920px) and (min-height: 1080px) {
    header {
        padding: 30px 60px;
    }

    .logo {
        font-size: 40px;
    }

    nav a {
        font-size: 40px;
    }

    .scroll-text h1{
        font-size: 40px;
    }

    .hero h1 {
        font-size: 150px;
    }

    .about-me-image img {
        width: 900px;
        height: 750px;
    }

    .case-study-content h2 {
        font-size: 2.5em;
    }

    .case-study-content p {
        font-size: 1.2em;
    }

    .view-box {
        font-size: 1.1em;
        padding: 15px 25px;
    }

    .case-study-image img {
        width: 1000px;
        height: 600px;
    }

    footer {
        padding: 50px;
        font-size: 1.2em;
    }

    .contact h2, .contact .email {
        font-size: 2.5rem;
    }

    .social-links a {
        font-size: 2rem;
        padding: 15px 30px;
    }
}
